.ForgetPassword {
    position: relative;
    padding: 20px 30px;
    background: #a0c9e9;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    width:500px;
    height: 480px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .ForgetPassword .container {
    display: flex;
    justify-content: space-between;
  }
  .ForgetPassword .container h2 {
    font-size: 2em;
    font-weight: 600;
    color:#054a91;
    margin-top: 30px;
  }
  
  .ForgetPassword .container .img {
    width: 90px;
    height: 90px;
    
  }
  .ForgetPassword .input {
    position: relative;
    height: 10%;
  }
  .ForgetPassword .input i {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    color: #054a91;
  }
  .ForgetPassword .input input {
    position: relative;
    padding-left: 15%;
    width: 100%;
    padding: 8px 40px;
    font-size: 1.25em;
    color: #054a91;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
  }
  .ForgetPassword .input input:focus {
    border-color: #054a91;
    border: 1px solid #054a91;
  }
  
  .ForgetPassword .input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
  }
  

  .ForgetPassword #btn {
    background: #054a91;
    border-radius: 25px;
    margin: auto;
    color: #fff;
    font-weight: 500;
    box-shadow: inset 0 0 15px #63adf2;
    padding: 6px;
    width: 80%;
    border: none;
    display: flex;
    padding: 2% 20px;
    font-size: 1.25em;
    cursor: pointer;
  }
  .ForgetPassword #btn:hover{
    color: #054a91;
    background-color: white;
  }

  .ForgetPassword .pss {
    position: relative;
    display: flex;
    justify-content: center; 
  }
  .ForgetPassword #w2{
    margin-top:-40px;
  }
  .ForgetPassword .pss p {
    font-size: 1.25em;
    color: #054a91;
    font-weight: 600;
    cursor: pointer;
  }
  
  .ForgetPassword .pss .link {
    font-size: .95em;
    color: #63adf2; 
    text-decoration: none;
  }